.header {
    text-align: center;
    background-color: #d4d2bf;
    padding: 20px;
    border: 3px outset #a8a16c;
    border-radius: 9px;
    margin-bottom: 70px;
    width: 88%;
}

.header-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 35px;
    color: rgb(55, 55, 55);    
}

.hr {
    border: solid 3px;
    background-color: #333a56;
    width: 80%;
    border-radius: 50px;
    margin-top: 80px;
    margin-bottom: 5px;
}

.body {
    background-color: #52658F;
}

.section-content {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: black;
    margin-top: 40px;
    margin-bottom: 45px;
    margin-left: 70px;
    margin-right: 70px;
}

.table {
    border: 3px solid black;
    padding: 5px;
    width: 600px;
    height: auto;
    color: rgb(87, 170, 119);
    margin-left: 70px;
}

td {
    border: 2px solid #000000; /* Add border to each cell */
    padding: 5px; /* Optional: adds space within cells */
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1000px;
    height: auto;
    margin-right: 70px;
}

.image {
    width: 300px;
    height: auto;
    margin: 10px;
    border: 2px outset rgb(206, 250, 250);
    border-top-left-radius: 100px;
    border-bottom-right-radius: 70px;
}

.footer-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.footer {
    text-align: center;
    background-color: #d4d2bf;
    padding: 0;
    width: 78%;
    height: 40px;
    border: 3px inset rgba(255, 255, 255, 0.615);
    border-radius: 4px;
}

.footer-content {
    font-size: 25px;
    color: black;
    margin-bottom: auto;
    margin-top: auto;
}

.external-link {
    color: #007BFF;
    text-decoration: none;
    
}
